body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.space-between {
    width: 300px;
    /*Be width off canvas*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    width: 300px;
    /*Be width off canvas*/
    display: flex;
    align-items: start;
    flex-direction: column;
}

#canvas {
    background-color: rgb(60, 60, 60);
}