# Ignore
.vscode/*
*.code-workspace

# Do not ignore these
!*.vscode/snakesnippets.code-snippets
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/